body {
    margin: 0px
}

a {
    font-family: 'Calibri';
    text-decoration: none;
}

h1 {
    font-family: 'Calibri Light';
    color: navy;
    text-align: center;
}

h2 {
    font-family: 'Calibri Light';
    color: navy;
    text-align: center;
}

p {
    font-family: 'Calibri';
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.NavBar {
    list-style-type: none;
    margin: 8px;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    position: fixed;
}

.NavImg li{
    display: block;
    background-color: transparent;
}

.NavElement {
    background-color: navy;
    float: left;
}

.NavImg {
    background-color: transparent;
    float: left;
}

.NavElement a {
    display: block;
    padding: 15px;

    padding-top: 16.5px;
    padding-bottom: 16px;

    color: white;
    font-size: 30px;
}

.NavElement a:hover {
    background-color: aqua;
    color: navy;
}

#hero-image {
    background-image: url("./Abluefence.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;

}

#hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -300px);
}

#hero-text h1 {
    color: white;
    font-size: 75px;
}

#hero-text h2 {
    color: white;
}

.text-sec {
    background-color: white;
    padding: 20px;
    width: 50%;
    transform: translate(50%, 0)
}